body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.215);
}
* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    position: relative;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    /* padding: 8px; */
    grid-template-areas: "left-sidebar main-content queue" "player player player";
    gap: 8px;
}

.left-sidebar {
    grid-area: left-sidebar;
    width: 350px;
    border-right: 2px solid brown;
}

.main-content {
    grid-area: main-content;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.sidebar {
    padding: 8px 12px;
}

.sideIcon {
    padding: 8px 12px;
}

.sideIcon > div {
    height: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.listmain > div {
    cursor: pointer;
}

.main-container {
    padding: 8px 12px;
}

.cat-01 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -22px;
    width: 100%;
}

.listmain {
    padding-left: 22px;
    margin-bottom: 22px;
    width: 14.28%;
}

.cat-main-title > h2 {
    text-transform: capitalize;
}

.list-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-title > h4 {
    margin-top: 11px;
    margin-bottom: 5px;
    font-size: 14px;
}
.list-title > p {
    margin: 0;
    font-size: 12px;
}

.list-title > p,
.list-title > h4,
.list-title > h3 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}

.listmain {
    position: relative;
}

.listImage {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
}

.listImage img {
    width: 100%;
    vertical-align: middle;
}

.queue-added .listmain {
    width: 25%;
}

@media  screen and (max-width: 1260px) {
    .left-sidebar {
        width: 200px;
    }

    .listmain{
        width: 20%;
    }
    
    .queue-added .listmain {
        width: 33.33%;
    }
}
@media  screen and (max-width: 1150px) {
    
    .queue-added .listmain {
        width: 50%;
    }
}

@media  screen and (max-width: 900px) {

    .listmain {
        width: 33.3333%;
    }

    .queue-added .listmain {
        width: 33.33%;
    }
    
}

@media screen and (max-width: 600px) {
    .left-sidebar {
        display: none;
    }

    .listmain {
        width: 50%;
    }

    .queue-added .listmain {
        width: 50%;
    }

    
    
}