body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.215);
}
* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    padding: 8px;
    grid-template-areas: "left-sidebar main-content queue" "player player player";
    gap: 8px;
}

.left-sidebar {
    grid-area: left-sidebar;
    width: 350px;
}

.main-content {
    grid-area: main-content;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.main-content::-webkit-scrollbar {
    display: none;
}
.queue {
    grid-area: queue;
    width: 350px;
}

.player {
    grid-area: player;
    height: 80px;
    width: 100%;
}

.sidebar {
    padding: 8px 12px;
}

.sideIcon {
    padding: 8px 12px;
}

.sideIcon > div {
    height: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.player-container {
    display: flex;
    width: 100%;
}

.player-container > div:first-of-type,
.player-container > div:last-of-type {
    /* max-width: 180px; */
    width: 30%;
}

.player-container > div:nth-of-type(2) {
    width: 40%;
}

.song-range {
    position: relative;
}

#progressBar {
    width: 0%;
    position: absolute;
    background-color: green;
    height: 7px;
    top: 9px;
    pointer-events: none;
    left: 0;
    border-radius: 8px;
}

#song-range {
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    width: 100%;
    height: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#song-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    z-index: 3;
    position: relative;
}

#selector {
    height: 92px;
    width: 20px;
    position: absolute;
    bottom: -3px;
    left: 0%;
    transform: translateX(-50%);
    z-index: 2;
}

.listmain> div {
    cursor: pointer;
}

.selectorBtn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: brown;
    border: 4px solid white;
    position: absolute;
    cursor: pointer;
    bottom: 0;
}

.main-container {
    padding: 8px 12px;
}

.cat-01 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -22px;
    width: 100%;
}

.cat-01 > div {
    padding-left: 22px;
    margin-bottom: 11px;
    width: 14.28%;
    /* aspect-ratio: 1/1; */
}

.cat-main-title > h2 {
    text-transform: capitalize;
}

.list-title > h4 {
    margin-top: 11px;
    margin-bottom: 5px;
}
.list-title > p {
    margin: 0;
}

.list-title > p,
.list-title > h4 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listmain {
    position: relative;
}


.listImage {
    border-radius: 8px;
    overflow: hidden;
}

.listImage img {
    width: 100%; vertical-align: middle
}