body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.215);
}
* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    position: relative;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    /* padding: 8px; */
    grid-template-areas: "left-sidebar main-content queue" "player player player" "top-bar top-bar top-bar";
    gap: 8px;
}

.top-bar {
    /* width: 100%; */
    grid-area: top-bar;
    display: none;
}

.left-sidebar {
    grid-area: left-sidebar;
    width: 350px;
    border-right: 2px solid brown;
}

.main-content {
    grid-area: main-content;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.sidebar {
    padding: 8px 12px;
}

.sideIcon {
    padding: 8px 12px;
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-items: center;
    margin: 11px 0;
}

.sideIcon:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.sideIcon > div {
    display: flex;
    align-items: center;
}

.sideIcon p {
    margin: 0 12px;
    font-size: 16px;
    font-weight: 700;
}

.sideIcon > div {
    height: 40px;
}
.sideIcon > div:first-of-type {
    height: 24px;
}

a {
    text-decoration: none;
    color: black;
}

.listmain > div {
    cursor: pointer;
}

.main-container {
    padding: 8px 12px;
}

.cat-01 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -22px;
    /* width: 100%; */
}

.listmain {
    padding-left: 22px;
    margin-bottom: 22px;
    width: 14.28%;
}

.cat-main-title > h2 {
    text-transform: capitalize;
}

.list-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-title > h4 {
    margin-top: 11px;
    margin-bottom: 5px;
    font-size: 14px;
}
.list-title > p {
    margin: 0;
    font-size: 12px;
}

.list-title > p,
.list-title > h4,
.list-title > h3 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
}

.listmain {
    position: relative;
}

.listImage {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
}

.listImage img {
    width: 100%;
    vertical-align: middle;
}

.queue-added .listmain {
    width: 25%;
}

.side01 {
    margin-bottom: 22px;
}

.side02 {
    padding: 8px 12px;
}

.side03 {
    margin: 10px 0;
}

.side04 {
    padding-left: 22px;
}

.side05 {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.side06 {
    width: 20%;
    aspect-ratio: 1/1;
    background: linear-gradient(to top left, rgb(255, 255, 255), rgb(14, 0, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.side07 {
    margin-left: 22px;
    font-weight: 600;
}

.side08 {
    display: flex;
    justify-content: flex-end;
}

.sideAddbtn {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 25px;
}

.details01 {
    padding: 8px 12px;
}

.details02 {
    display: flex;
    padding-bottom: 44px;
}

.details03 {
    margin-left: 44px;
}

.details04 {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    /* border: 1px solid black; */
}

.details04 > img {
    width: 100%;
}

.details05 {
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details06 > div {
    display: flex;
}

.details06 > h2 {
    margin: 10px 0;
}

.details06 p {
    font-weight: 600;
    font-size: 15px;
    margin: 2px 0;
}

.details07 {
    display: flex;
    margin: 0 0 0 -22px;
}

.details07 > div {
    padding-left: 22px;
}

.details07 > div:first-of-type > button {
    font-weight: 600;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding: 10px 33px;
    background-color: white;
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
    border-radius: 999px;
    /* border: none; */
    height: 100%;
    outline: none;
}

.details07 > div:first-of-type > button:hover {
    border-color: black;
}

.details07 > div:nth-of-type(2) button,
.details07 > div:nth-of-type(3) button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    outline: none;
    align-items: center;
}

.details07 > div:nth-of-type(2) button:hover,
.details07 > div:nth-of-type(3) button:hover {
    border-color: white;
    background-color: rgba(0, 0, 0, 0.12);
}

.details07 i {
    transition: all 0.3s ease-in-out;
}

.details07 button:hover i {
    color: white;
}

.details08 {
    border-bottom: 2px solid black;
}

.details09 {
    padding: 22px;
}

@media screen and (max-width: 1260px) {
    .left-sidebar {
        width: 200px;
    }

    .listmain {
        width: 20%;
    }

    .queue-added .listmain {
        width: 33.33%;
    }
}
@media screen and (max-width: 1150px) {
    .queue-added .listmain {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .listmain {
        width: 33.3333%;
    }

    .queue-added .listmain {
        width: 33.33%;
    }
}

@media screen and (max-width: 600px) {
    .top-bar {
        display: block;
    }
    .left-sidebar {
        display: none;
    }

    .listmain {
        width: 50%;
    }

    .sideIcon {
        flex-direction: column;
        flex: 1;
    }

    .sideIcon > div {
        height: 30px;
    }

    .queue-added .listmain {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .sideIcon > div:nth-of-type(2) {
        display: none;
    }
}
